---
---

<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.asset_path }}/css/about.css">
    <link rel="stylesheet" href="{{ site.asset_path }}/pagepiling/jquery.pagepiling.min.css">
    <script src="{{ site.asset_path }}/js/jquery-2.2.3.min.js"></script>
    <script src="{{ site.asset_path }}/pagepiling/jquery.pagepiling.min.js"></script>
    <script>
        $(function() {
            $('#pagepiling').pagepiling({
                loopBottom: true,
                sectionsColor: ['#09c', '#424296', '#22c3aa', '#2c3e50', '#51bec4'],
                anchors: ['me', 'location', 'job', 'hobbies', 'more'],
                navigation: {
                    'position': 'right',
                    'tooltips': ['me', 'location', 'job', 'hobbies', 'more']
                }
            });

            $('.weixin-btn').hover(function() {
                $('.weixin-qrcode').toggleClass('hover');
            });
        });
    </script>
</head>
<body>
    <div id="pagepiling">
        <div class="section" id="section1">
            <img class="avatar" src="{{ site.asset_path }}/images/avatar.jpg">
            <h1>丁一</h1>
            <p>会前端的强迫症患者</p>
            <br />
        </div>
        <div class="section" id="section2">
            <div class="intro">
                <h1>location</h1>
                <p>广东·广州</p>
            </div>
        </div>
        <div class="section" id="section3">
            <div class="intro">
                <h1>job</h1>
                <p>Front-End Developer</p>
            </div>
        </div>
        <div class="section" id="section4">
            <div class="intro">
                <h1>hobbies</h1>
                <p>旅游·摄影·音乐</p>
            </div>
        </div>
        <div class="section" id="section5">
            <div class="intro">
                <h1>more</h1>
                <p>
                    <a href="{{ site.baseurl }}/blog/" title="博客"><i class="fa fa-home"></i></a>
                    {% include links.html %}
                </p>
            </div>
        </div>
    </div>
    {% include analytics.html %}
</body>
</html>
