---
layout: default
---

<div class="posts">
  {% for post in site.posts %}
    <article class="item">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
      <div class="subline">
          <time><i class="fa fa-calendar"></i>&nbsp;{{ post.date | date: "%Y-%m-%d" }}</time>&emsp;
          <a href="javascript:;"><i class="fa fa-bars"></i>&nbsp;开发</a>&emsp;
          <span><i class="fa fa-eye"></i>&nbsp;<span data-hk-page="{{ post.url | prepend: site.url }}">0</span></span>
      </div>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      {% if post.image %}
      <div class="img-pvw"><img src="{{ site.ASSET_PATH }}/images/{{ post.image }}"></div>
      {% endif %}

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More <i class="fa fa-long-arrow-right"></i></a>
    </article>
  {% endfor %}
</div>
