<div class="posts">
    {% for post in paginator.posts %}
        <article class="item">

            <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>
            <div class="subline">
                <time><i class="fa fa-calendar"></i>&nbsp;{{ post.date | date: "%Y-%m-%d" }}</time>
                <div class="category">
                    <a class="js-category-btn" href="{{ site.baseurl }}/category/#{{ post.category }}"><i class="fa fa-folder-o"></i>&nbsp;{{ post.category }}</a>
                    <div class="options">
                        <ul>
                            {% for category in site.categories %}
                            <li><a{% if category.first == post.category %} class="active"{% endif %} href="{{ site.baseurl }}/category/#{{ category.first }}">{{ category.first }}</a></li>
                            {% endfor %}
                        </ul>
                    </div>
                </div>
                <span><i class="fa fa-eye"></i>&nbsp;<span data-hk-page="{{ post.url | prepend: site.url }}">0</span></span>
            </div>

            <div class="entry">
                <p>{{ post.excerpt | strip_html }}</p>
            </div>

            {% if post.image %}
            <div class="img-pvw"><img src="{{ site.asset_path }}/images/{{ post.image }}"></div>
            {% endif %}

            <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">READ MORE <i class="fa fa-angle-double-right"></i></a>
        </article>
    {% endfor %}
</div>
{% if paginator.total_pages > 1 %}
<div class="pagination">
    {% if paginator.previous_page %}
    <a class="prev" href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}"><i class="fa fa-fw fa-long-arrow-left"></i>Prev</a>
    {% endif %}
    {% if paginator.next_page %}
    <a class="next" href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">Next<i class="fa fa-fw fa-long-arrow-right"></i></a>
    {% endif %}
</div>
{% endif %}
