{% if site.links.github %}<a href="https://github.com/{{ site.links.github }}" title="github" target="_blank"><i class="fa fa-github"></i></a>{% endif %}
{% if site.links.weibo %}<a href="http://weibo.com/{{ site.links.weibo }}" title="微博" target="_blank"><i class="fa fa-weibo"></i></a>{% endif %}
{% if site.links.weixin %}<a href="javascript:;" title="微信"><i class="fa fa-weixin"></i></a>{% endif %}
{% if site.links.email %}<a href="mailto:{{ site.links.email }}" title="邮箱：{{ site.links.email }}"><i class="fa fa-envelope"></i></a>{% endif %}
{% if site.links.rss %}<a href="{{ site.baseurl }}/feed.xml" title="rss" target="_blank"><i class="fa fa-rss"></i></a>{% endif %}