html {
    @include box-sizing;
}

*, *:before, *:after {
    box-sizing: inherit;
}

html {
    height: 100%;
    font-size: 62.5%;
    cursor: url(/assets/images/cursor.ico),auto;

    &::-webkit-scrollbar-track-piece {
        background: #eee;
    }
    &::-webkit-scrollbar {
        width: 9px;
        height: 9px;
    }
    &::-webkit-scrollbar-thumb {
        height: 40px;
        background-color: #ccc;
        border-radius: 4px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background-color: #bbb;
    }
}
body {
    background: $lightGray;
    font: 1.4rem/1.5 $consolas;
    color: $lightBlank;
    height: 100%;
    text-shadow: 1px 1px 2px rgba(127,127,127,0.1);
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    line-height: 1.7;

    @include mobile {
        line-height: 1.4;
    }

    // a {
    //     color: #4e5e6a;
    // }
}

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.4rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-size: 1.8rem;
    color: $darkGray;
}

p {
    margin: 15px 0;
}

a {
    color: $lightBlank;
    text-decoration: none;
    cursor: pointer;
    &:hover, &:active, &.active {
        color: $blue;
    }
    @include transition(all .3s cubic-bezier(.19,1,.5,1));
}
img {
    max-width: 100%;
}

figure {
    &::-webkit-scrollbar-track-piece{background:#eee;}
    &::-webkit-scrollbar{width:5px;height:5px;}
    &::-webkit-scrollbar-thumb{height:40px;background-color:#ccc;}
    &::-webkit-scrollbar-thumb:hover{background-color:#aaa;}
}
pre {
    margin: 0;
}

.clearfix:after {
    content: " ";
    display: block;
    clear: both;
}

::-moz-selection {
    color: $white;
    background: #6658ed;
}
::selection {
    color: $white;
    background: #6658ed;
}

::-moz-placeholder {
    color: $gray;
}
::-webkit-input-placeholder {
    color: $gray;
}

@-webkit-keyframes buling {
    2%,
    24%,
    80% {
        -webkit-transform: translate(0, 1.5px) rotate(1.5deg);
    }
    4%,
    68%,
    98% {
        -webkit-transform: translate(0, -1.5px) rotate(-.5deg);
    }
    38%,
    6% {
        -webkit-transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    8%,
    86% {
        -webkit-transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    10%,
    72% {
        -webkit-transform: translate(0, 2.5px) rotate(1.5deg);
    }
    12%,
    64%,
    78%,
    96% {
        -webkit-transform: translate(0, -.5px) rotate(1.5deg);
    }
    14%,
    54% {
        -webkit-transform: translate(0, -1.5px) rotate(1.5deg);
    }
    16% {
        -webkit-transform: translate(0, -.5px) rotate(-1.5deg);
    }
    18%,
    22% {
        -webkit-transform: translate(0, .5px) rotate(-1.5deg);
    }
    20%,
    36%,
    46% {
        -webkit-transform: translate(0, -1.5px) rotate(2.5deg);
    }
    26%,
    50% {
        -webkit-transform: translate(0, .5px) rotate(.5deg);
    }
    28% {
        -webkit-transform: translate(0, .5px) rotate(1.5deg);
    }
    30%,
    40%,
    62%,
    76%,
    88% {
        -webkit-transform: translate(0, -.5px) rotate(2.5deg);
    }
    32%,
    34%,
    66% {
        -webkit-transform: translate(0, 1.5px) rotate(-.5deg);
    }
    42% {
        -webkit-transform: translate(0, 2.5px) rotate(-1.5deg);
    }
    44%,
    70% {
        -webkit-transform: translate(0, 1.5px) rotate(.5deg);
    }
    48%,
    74%,
    82% {
        -webkit-transform: translate(0, -.5px) rotate(.5deg);
    }
    52%,
    56%,
    60% {
        -webkit-transform: translate(0, 2.5px) rotate(2.5deg);
    }
    58% {
        -webkit-transform: translate(0, .5px) rotate(2.5deg);
    }
    84% {
        -webkit-transform: translate(0, 1.5px) rotate(2.5deg);
    }
    90% {
        -webkit-transform: translate(0, 2.5px) rotate(-.5deg);
    }
    92% {
        -webkit-transform: translate(0, .5px) rotate(-.5deg);
    }
    94% {
        -webkit-transform: translate(0, 2.5px) rotate(.5deg);
    }
    0%,
    100% {
        -webkit-transform: translate(0, 0) rotate(0);
    }
}
@keyframes buling {
    2%,
    24%,
    80% {
        transform: translate(0, 1.5px) rotate(1.5deg);
    }
    4%,
    68%,
    98% {
        transform: translate(0, -1.5px) rotate(-.5deg);
    }
    38%,
    6% {
        transform: translate(0, 1.5px) rotate(-1.5deg);
    }
    8%,
    86% {
        transform: translate(0, -1.5px) rotate(-1.5deg);
    }
    10%,
    72% {
        transform: translate(0, 2.5px) rotate(1.5deg);
    }
    12%,
    64%,
    78%,
    96% {
        transform: translate(0, -.5px) rotate(1.5deg);
    }
    14%,
    54% {
        transform: translate(0, -1.5px) rotate(1.5deg);
    }
    16% {
        transform: translate(0, -.5px) rotate(-1.5deg);
    }
    18%,
    22% {
        transform: translate(0, .5px) rotate(-1.5deg);
    }
    20%,
    36%,
    46% {
        transform: translate(0, -1.5px) rotate(2.5deg);
    }
    26%,
    50% {
        transform: translate(0, .5px) rotate(.5deg);
    }
    28% {
        transform: translate(0, .5px) rotate(1.5deg);
    }
    30%,
    40%,
    62%,
    76%,
    88% {
        transform: translate(0, -.5px) rotate(2.5deg);
    }
    32%,
    34%,
    66% {
        transform: translate(0, 1.5px) rotate(-.5deg);
    }
    42% {
        transform: translate(0, 2.5px) rotate(-1.5deg);
    }
    44%,
    70% {
        transform: translate(0, 1.5px) rotate(.5deg);
    }
    48%,
    74%,
    82% {
        transform: translate(0, -.5px) rotate(.5deg);
    }
    52%,
    56%,
    60% {
        transform: translate(0, 2.5px) rotate(2.5deg);
    }
    58% {
        transform: translate(0, .5px) rotate(2.5deg);
    }
    84% {
        transform: translate(0, 1.5px) rotate(2.5deg);
    }
    90% {
        transform: translate(0, 2.5px) rotate(-.5deg);
    }
    92% {
        transform: translate(0, .5px) rotate(-.5deg);
    }
    94% {
        transform: translate(0, 2.5px) rotate(.5deg);
    }
    0%,
    100% {
        transform: translate(0, 0) rotate(0);
    }
}
