
//
// VARIABLES
//

// Colors
$blue: #09c;
$darkBlue: #056495;
$lightBlue: #0bc;

// Grays
$black: #000;
$lightBlank: #333;
$darkGray: #666;
$gray: #aaa;
$lightGray: #eee;
$white: #fff;

// Rainbow
$rainbowColor0: #e74c3c;
$rainbowColor1: #e67e22;
$rainbowColor2: #ffcc00;
$rainbowColor3: #33cc00;
$rainbowColor4: #66ffff;
$rainbowColor5: #3498db;
$rainbowColor6: #9b59b6;

// Font stacks
$consolas: Microsoft Jhenghei, Consolas, Helvetica, Arial, sans-serif;

// Size
$mainMaxWidth: 1000px;
$mainMiddleWidth: 800px;

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin middle-screen1 {
  @media screen and (max-width: 1050px) {
    @content;
  }
}
@mixin middle-screen2 {
  @media screen and (max-width: 900px) {
    @content;
  }
}
// @mixin middle-screen2 {
//   @media screen and (max-width: 900px) {
//     @content;
//   }
// }
@mixin large-pc {
  @media screen and (min-width: 1500px) {
    @content;
  }
}
