
//
// VARIABLES
//

// Colors
$blue: #09c;
$darkBlue: #056495;
$lightBlue: #0bc;

// Grays
$black: #000;
$lightBlank: #414a51;
$darkGray: #666;
$gray: #9dA8b0;
$lightGray: #eee;
$white: #fff;

// Rainbow
$rainbowColor0: #e74c3c;
$rainbowColor1: #e67e22;
$rainbowColor2: #ffcc00;
$rainbowColor3: #33cc00;
$rainbowColor4: #66ffff;
$rainbowColor5: #3498db;
$rainbowColor6: #9b59b6;

// Font stacks
$consolas: Consolas, Helvetica, Arial, sans-serif;
// $helveticaNeue: "Helvetica Neue", Helvetica, Arial, sans-serif;
$number: Verdana, Geneva, sans-serif;

@mixin mobile {
  @media screen and (max-width: 768px) {
    @content;
  }
}
@mixin pc {
  @media screen and (min-width: 768px) {
    @content;
  }
}
@mixin large-pc {
  @media screen and (min-width: 1500px) {
    @content;
  }
}
