---
---

@import "font";
@import "variables";
@import "mixins";
@import "custom";

.rainbow-color0:before { background-color: $rainbowColor0!important; }
.rainbow-color1:before { background-color: $rainbowColor1!important; }
.rainbow-color2:before { background-color: $rainbowColor2!important; }
.rainbow-color3:before { background-color: $rainbowColor3!important; }
.rainbow-color4:before { background-color: $rainbowColor4!important; }
.rainbow-color5:before { background-color: $rainbowColor5!important; }
.rainbow-color6:before { background-color: $rainbowColor6!important; }

/*********************/
/* LAYOUT / SECTIONS */
/*********************/

#container {
    width: 100%;
    height: 100%;
    background-color: #fefefe;

    &.full {
        #side {
            width: 100%;
        }

        #box-wrapper {
            top: 50%;
            right: 50%;
            margin-right: -140px;
        }

        #box {
            color: $lightBlank;
            margin-top: -60%;
            background-color: rgba(240,240,240,0.95);
            box-shadow: 16px 16px 24px rgba(0,0,0,0.2);
            text-align: center;
        }

        #nav {
            margin: 0 auto;
            width: 170px;
            height: 50px;
            float: none;

            @include mobile {
                 .cat {
                    right: 120px;
                }
                .link {
                    right: 0;
                    top: 0;
                }
            }

            @include pc {
                &:hover {
                    .cat {
                        right: 120px;
                    }
                    .link {
                        right: 0;
                        top: 0;
                    }
                }
            }

            a {
                right: 60px;
                background: transparent;
                border: 1px solid $darkGray;
            }
        }

        #main {
            left: 100%;
        }
    }
}

/**************/
/*  LOADING   */
/**************/
@include keyframes(spinPulse) {
    0% { #{$browser}transform: rotate(160deg);opacity: 0;box-shadow: 0 0 1px #505050; }
    50% { #{$browser}transform: rotate(145deg);opacity: 1; }
    100% { #{$browser}transform: rotate(-320deg);opacity: 0; }
}
@include keyframes(spinoffPulse) {
    0% { #{$browser}transform: rotate(0deg); }
    100% { #{$browser}transform: rotate(360deg); }
}
#circle {
    position: fixed;
    left: 15px;
    bottom: 15px;
    width: 80px;
    height: 80px;
    z-index: 10000;
    display: none;
}

#circle1 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(10,10,10,0.9);
    opacity: .9;
    border-right: 5px solid rgba(0,0,0,0);
    border-left: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 30px #808080;
    z-index: 1000;
    width: 50px;
    height: 50px;
    margin: 0 auto;
    position: absolute;
    left: 15px;
    top: 15px;
    @include animation(spinPulse 1s infinite ease-in-out);
}

#circle2 {
    background-color: rgba(0,0,0,0);
    border: 5px solid rgba(20,20,20,0.9);
    opacity: .9;
    border-left: 5px solid rgba(0,0,0,0);
    border-right: 5px solid rgba(0,0,0,0);
    border-radius: 50px;
    box-shadow: 0 0 15px #202020;
    z-index: 1000;
    width: 30px;
    height: 30px;
    margin: 0 auto;
    position: absolute;
    left: 25px;
    top: 25px;
    @include animation(spinoffPulse 1s infinite linear);
}

/**************/
/*   ROCKRT   */
/**************/
#rocket {
    position: fixed;
    left: 32%;
    bottom: 10px;
    display: none;
    cursor: pointer;
    -webkit-transition: -webkit-transform .6s;
    transition: -webkit-transform .6s;
    transition: transform .6s;
    transition: transform .6s,-webkit-transform .6s;

    @include mobile {
        left: 15px;
        @include transform(scale(.8));
    }

    &:hover {
        .footer {
            @include animation(rocket 1s infinite);
        }
        @include keyframes(rocket) {
            0%,100% { opacity: .5;#{$browser}transform: rotate(-45deg); }
            50% { opacity: .9;#{$browser}transform: rotate(-45deg) scale(1.15); }
        }
    }

    .header {
        width: 18px;
        height: 12px;
        border-radius: 27px 27px 0 0;
        background: #e2553b;
    }

    .body {
        position: relative;
        z-index: 1;
        width: 18px;
        height: 42px;
        background: #dfe2e4;

        .window {
            top: 10px;
            left: 3px;
            width: 12px;
            height: 12px;
            background: #33485f;
            position: absolute;
            border-radius: 50%;

            &:before {
                position: absolute;
                border-radius: 50%;
                top: 2px;
                left: 2px;
                width: 8px;
                height: 8px;
                background: #2c97de;
                content: '';
            }
        }

        .wing {
            position: absolute;
            bottom: 4px;
            left: -8px;
            width: 8px;
            height: 18px;
            background: #c23824;
            @include transform(skewY(-50deg));

            &.wing-right {
                left: 18px;
                @include transform(skewY(50deg));
            }
        }

        .lader {
            position: absolute;
            bottom: -8px;
            left: -4px;
            width: 26px;
            height: 0;
            border-right: 8px solid transparent;
            border-bottom: 8px solid #517397;
            border-left: 8px solid transparent;
        }
    }
    .footer {
        position: relative;
        margin-right: auto;
        margin-left: auto;
        width: 16px;
        height: 16px;
        border-radius: 10px 0;
        background: #f59d00;
        -webkit-transition: bottom .6s;
        transition: bottom .6s;
        @include transform(rotate(-45deg));

        &:before {
            position: absolute;
            top: 0;
            left: 4px;
            width: 12px;
            height: 12px;
            border-radius: 9px 0;
            background: #f2c500;
            content: '';
        }
    }
}

/****************/
/* rainbow-list */
/****************/
.rainbow-list {
    margin: 0 80px;
    padding: 15px 0 0;
    border-left: 4px solid #f9f9f9;
    height: 46px;
    line-height: 46px;
    height: 100%;
    font-size: 1.6rem;

    @include mobile {
        margin: 0 30px;
        line-height: 30px;
        font-size: 1.4rem;
    }

    .summary {
        position: relative;
        min-height: 46px;

        .title {
            position: absolute;
            top: 50%;
            margin-top: -23px;
            margin-left: -25px;
            float: left;
            height: 46px;
            line-height: 46px;
            width: 46px;
            border-radius: 50%;
            background: #f0f0f0;
            text-align: center;
            font-size: 1.4rem;
            color: #555;
            cursor: default;
        }

        ul.items {
            margin-left: 30px;
        }

        li {
            float: left;

            a {
                font-size: 1.2rem;
                line-height: 30px;
                display: inline-block;
                height: 30px;
                margin: 5px 3px;
                padding: 0 6px 0 12px;
                color: #999;
                border-radius: 15px;
                background-color: #f6f6f6;

                &:hover {
                    color: #333;
                    background-color: #f0f0f0;
                }
            }
        }
    }

    > .items li {
        position: relative;
        padding-left: 20px;

        &:before {
            position: absolute;
            top: 50%;
            left: -2px;
            width: 8px;
            height: 8px;
            margin-top: -4px;
            margin-left: -4px;
            content: ' ';
            border-radius: 50%;
            background-color: #ddd;
        }

        a {
            margin-right: 10px;
        }

        .post-date {
            font-size: 1.2rem;
            margin-right: 10px;
            color: $gray;
            vertical-align: bottom;
        }
    }
}

@import "container/_side.scss";
@import "container/_top.scss";
@import "container/_main.scss";
@import "highlights";
