<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html %}
    <style media="screen">

        @media (max-width: 768px) {
        }

    </style>
</head>

<body>
    <div id="container">
        <div id="side" class="hide">
            <div id="logo">
                <a href="/"><img src="{{ site.logo }}"></a>
            </div>
            <!-- <div id="avatar">
                <a href="/"><img src="{{ site.avatar }}"></a>
            </div> -->
            <nav id="nav">
                <ul>
                    <li><a class="active" href="javascript:;">标签</a></li>
                    <li><a href="javascript:;">时间轴</a></li>
                    <li><a href="javascript:;">链接</a></li>
                </ul>
            </nav>
            <div class="close">
                <i class="iconfont icon-guanbi"></i>
            </div>
            <div id="galaxy">
                <canvas id="canv"></canvas>
            </div>
        </div>
        <header id="top">
            <div class="menu">
                <i class="iconfont icon-xitongcaidan"></i>
            </div>
            <a href="/">{{ site.name }}</a>
        </header>
        <div id="main">
            {{ content }}
        </div>
        <div id="circle">
            <div id="circle1"></div>
            <div id="circle2"></div>
        </div>
        <div id="rocket" title="发射！">
            <div class="header"></div>
            <div class="body">
                <div class="window"></div>
                <div class="wing wing-left"></div>
                <div class="wing wing-right"></div>
                <div class="lader"></div>
            </div>
            <div class="footer"></div>
        </div>
    </div>

    <!-- <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">
                {% include svg-icons.html %}
            </footer>
        </div>
    </div> -->

    {% include analytics.html %}
    <script src="{{ site.ASSET_PATH }}/js/require.min.js"></script>
    <script src="{{ site.ASSET_PATH }}/js/config.js"></script>
    <script src="{{ site.ASSET_PATH }}/js/default.js"></script>
</body>
</html>
