<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html %}
    <style media="screen">

        @media (max-width: 768px) {
        }

    </style>
</head>

<body>
    <div id="container"{% if page.isIndex %} class="full"{% endif %}>
        <div id="side" class="hide">
            <div id="box-wrapper">
                <div id="box">
                    <a href="/">
                        <img src="/favicon.png">
                    </a>
                    <h2>{{ site.name }}</h2>
                    <p>一只有强迫症的葡萄</p>
                    <nav id="nav" class="clearfix">
                        <a class="home{% if page.isIndex != true and page.isHome != true %} not-home{% endif %}" href="{% if page.isIndex or page.isHome %}javascript:;{% else %}/home/{% endif %}"><span>博客</span><i class="fa fa-home fa-2x"></i></a>
                        <a class="cat" href="/category/">分类</a>
                        <a class="link" href="javascript:;">邻居</a>
                    </nav>
                </div>
            </div>
            <div class="close">
                <i class="iconfont icon-guanbi"></i>
            </div>
            <div id="galaxy">
                <canvas id="canv"></canvas>
            </div>
        </div>
        <header id="top">
            <div class="menu">
                <i class="iconfont icon-xitongcaidan"></i>
            </div>
            <a href="/">{{ site.name }}</a>
        </header>
        <div id="main">
            {{ content }}
        </div>
        <div id="circle">
            <div id="circle1"></div>
            <div id="circle2"></div>
        </div>
        <div id="rocket" title="发射！">
            <div class="header"></div>
            <div class="body">
                <div class="window"></div>
                <div class="wing wing-left"></div>
                <div class="wing wing-right"></div>
                <div class="lader"></div>
            </div>
            <div class="footer"></div>
        </div>
    </div>

    <!-- <div class="wrapper-footer">
        <div class="container">
            <footer class="footer">
                {% include svg-icons.html %}
            </footer>
        </div>
    </div> -->

    {% include analytics.html %}
    <script src="{{ site.ASSET_PATH }}/js/require.min.js"></script>
    <script src="{{ site.ASSET_PATH }}/js/config.js"></script>
    <script src="{{ site.ASSET_PATH }}/js/default.js"></script>
</body>
</html>
