<!DOCTYPE html>
<html lang="zh-CN">
<head>
    {% include head.html %}
    <link rel="stylesheet" href="{{ site.asset_path }}/css/style.css">
</head>

<body>
    <div id="container"{% if page.isIndex %} class="full"{% endif %}>
        <div id="side"{% if page.isIndex != true %} class="hide"{% endif %}>
            <div id="box-wrapper">
                <div id="box">
                    <a id="logo" href="{{ site.url }}">
                        <img src="{{ site.asset_path }}/images/{{ site.logo }}">
                    </a>
                    <h2>{{ site.name }}</h2>
                    <p>一只有强迫症的葡萄</p>
                    <nav id="nav" class="clearfix">
                        <a class="home" href="{{ site.baseurl }}/blog/"><span>博客</span><i class="fa fa-home fa-2x"></i></a>
                        <a class="cat" href="{{ site.baseurl }}/category/">分类</a>
                        <a class="link" href="{{ site.baseurl }}/link/">邻居</a>
                    </nav>
                </div>
            </div>
            <footer id="footer">
                <span>© 2016 <a class="about" href="{{ site.baseurl }}/about/">{{ site.name }}</a></span>
                {% include links.html %}
            </footer>
            {% if page.isIndex != true %}
            <div class="close">
                <i class="iconfont icon-guanbi"></i>
            </div>
            {% endif %}
            <div id="galaxy">
                <canvas id="canv"></canvas>
            </div>
        </div>
        <header id="top">
            <div class="menu">
                <i class="iconfont icon-xitongcaidan"></i>
            </div>
            <a href="{{ site.url }}">{{ site.name }}</a>
        </header>
        <div id="main">
            {{ content }}
        </div>
        <div id="circle">
            <div id="circle1"></div>
            <div id="circle2"></div>
        </div>
        <div id="rocket" title="发射！">
            <div class="header"></div>
            <div class="body">
                <div class="window"></div>
                <div class="wing wing-left"></div>
                <div class="wing wing-right"></div>
                <div class="lader"></div>
            </div>
            <div class="footer"></div>
        </div>
    </div>
    {% include analytics.html %}
    <script src="{{ site.asset_path }}/js/require.min.js"></script>
    <script src="{{ site.asset_path }}/js/config.js"></script>
    <script src="{{ site.asset_path }}/js/default.js"></script>
</body>
</html>
