---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="subline">
        <time><i class="fa fa-calendar"></i>&nbsp;{{ page.date | date: "%Y-%m-%d" }}</time>
        <div class="category" style="">
            <a class="js-category-btn" href="javascript:;"><i class="fa fa-folder-o"></i>&nbsp;开发</a>
            <div class="options">
                <ul>
                    <li><a href="javascript:;">开发</a></li>
                    <li><a href="javascript:;">生活</a></li>
                    <li><a href="javascript:;">黑科技</a></li>
                    <li><a href="javascript:;">喵</a></li>
                </ul>
            </div>
        </div>
        <span><i class="fa fa-eye"></i>&nbsp;<span data-hk-page="{{ page.url | prepend: site.url }}">0</span></span>
    </div>

    <div class="entry">
    	{{ content }}
    </div>

    <div class="date">
        Written on {{ page.date | date: "%B %e, %Y" }}
    </div>

    {% include disqus.html %}
</article>
