---
layout: default
---

<article class="post">
    <h1>{{ page.title }}</h1>

    <div class="subline">
        <time><i class="fa fa-calendar"></i>&nbsp;{{ page.date | date: "%Y-%m-%d" }}</time>
        <div class="category">
            <a class="js-category-btn" href="{{ site.baseurl }}/category/#{{ page.category }}"><i class="fa fa-folder-o"></i>&nbsp;{{ page.category }}</a>
            <div class="options">
                <ul>
                    {% for category in site.categories %}
                    <li><a{% if category.first == page.category %} class="active"{% endif %} href="{{ site.baseurl }}/category/#{{ category.first }}">{{ category.first }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
        <span><i class="fa fa-eye"></i>&nbsp;<span data-hk-page="{{ page.url | prepend: site.url }}">0</span></span>
    </div>

    <div class="entry">
    	{{ content }}
    </div>

    {% if page.tags.size > 0 %}
    <div class="tags">
        <i class="fa fa-tags" title="标签"></i>
        {% for tag in page.tags %}
        <a class="color{{ forloop.index | plus:4 | modulo:7 }}" href="{{ site.baseurl }}/tag/#{{ tag }}">{{ tag }}</a>
        {% endfor %}
    </div>
    {% endif %}

    {% include duoshuo.html %}
</article>
