#grape {
    position: fixed;
    top: -70px;
    left: 0;
    opacity: 0;
    z-index: 2;

    @include mobile {
        display: none;
    }

    &.show {
        opacity: 1;
        top: 0;
        @include transition(top .8s cubic-bezier(.19,1,.5,1));
    }

    .logo {
        background-image: url(/assets/images/logo.png);
        background-position: center;
        background-size: 60%;
        background-repeat: no-repeat;
        height: 70px;
        width: 70px;
        // float: left;
    }
}