#main {
    position: relative;
    height: 100%;
    padding-top: 30px;
    -webkit-overflow-scrolling: touch;

    &.not-ready {
        visibility: hidden;
    }

    @include keyframes(fade-in) {
        0% { opacity: 0;#{$browser}transform: translateY(20px); }
        100% { opacity:1;#{$browser}transform: translateY(0px); }
    }

    &.animate {
        @include animation(fade-in .5s);
    }

    .grape {
        position: absolute;
        top: 10px;
        left: 0;
        z-index: 2;

        @include mobile {
            display: none;
        }

        &.fixed {
            position: fixed;
        }

        .logo {
            display: block;
            height: 70px;
            width: 70px;
            margin-left: -35px;
            background-image: url(/assets/images/logo.png);
            background-position: center;
            background-size: 60%;
            background-repeat: no-repeat;
            @include transform(rotate(30deg));
            @include transition(all .8s cubic-bezier(.19,1,.5,1));
            -webkit-will-change: margin-left, transform;

            &:hover {
                margin-left: 0;
            }
        }
    }
}
.posts {
    position: relative;
    width: $mainMaxWidth;
    margin: 0 auto;
    @include middle-screen1 {
        width: $mainMiddleWidth;
    }
    @include middle-screen2 {
        width: 95%;
        height: auto!important;
    }

    .item {
        position: absolute;
        width: 480px;
        box-shadow: 2px 2px 5px #ddd;
        @include transition(all .8s cubic-bezier(.19,1,.5,1));
        -webkit-will-change: transform, box-shadow;
        will-change: transform, box-shadow;

        @include middle-screen1 {
            width: 380px;
        }
        @include middle-screen2 {
            position: static;
            width: 100%;
            margin-left: 0;
            margin-right: 0;
            &:first-child {
                margin-top: 0;
            }
        }
        &:hover {
            box-shadow: 0 15px 30px rgba(0,0,0,.1);
            @include transform(translateY(-2px));
        }
        background-color: #fefefe;
        margin: 10px;
        border-radius: 3px;

        .banner {
            img {
                display: block;
                border-top-left-radius: 3px;
                border-top-right-radius: 3px;
                max-height: 500px;
            }
        }

        .content {
            padding: 20px 20px 8px;

            h1 {
                margin: 0;
                font-size: 2rem;

                a {
                    display: block;
                    overflow: hidden;
                    white-space: nowrap;
                    text-overflow: ellipsis;
                }
            }

            .entry {
                padding-top: 10px;
                min-height: 60px;
                font-size: 1.3rem;
                color: $darkGray;
            }

            .read-more {
                height: 30px;
                line-height: 30px;
                text-align: right;
                font-size: 1.2rem;

                a {
                    display: inline-block;

                    &:hover {
                        @include animation(buling 5s infinite ease-in-out);
                    }
                }
            }
        }
    }
}
.pagination {
    margin-top: 30px;
    text-align: center;

    @include pc {
        &:hover {
            a {
                opacity: 1;

                &.prev {
                    border-color: $gray;
                }
            }
        }
    }

    .pagination-inner {
        display: inline-block;
        margin: 0 auto;
        font-size: 1.4rem;
        background-color: #fff;
        border-radius: 3px;
        box-shadow: 2px 2px 5px #ddd;

        a,
        span {
            display: block;
            float: left;
            line-height: 24px;
            padding: 12px 15px;
        }
        a {
            &:hover {
                color: #fff;
                background-color: $blue;
            }

            &.disabled {
                color: $gray;

                &:hover {
                    color: $gray;
                    background-color: inherit;
                    cursor: not-allowed;
                }
            }
        }
        span {
            color: $gray;
        }

        .prev {
            border-radius: 3px 0 0 3px;

            i {
                margin-right: 10px;
            }
        }
        .next {
            border-radius: 0 3px 3px 0;

            i {
                margin-left: 10px;
            }
        }
    }
}

article.post {
    position: relative;
    width: $mainMaxWidth;
    margin: 0 auto;
    padding: 20px 30px;
    background-color: #fefefe;
    border-radius: 5px;

    @include middle-screen1 {
        width: $mainMiddleWidth;
    }
    @include middle-screen2 {
        width: 95%;
    }

    h1 {
        margin: 0;
    }

    h2 {
        border-left: 5px solid $blue;
        padding-left: 15px;
    }

    .entry {
        hr {
            border: 0;
            border-bottom: 1px solid $lightGray;
        }

        img {
            display: block;
            max-height: 500px;
            cursor: zoom-in;
        }

        a {
            color: $blue;

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .tags {
        margin: 15px 0;

        i {
            vertical-align: middle;
        }

        a {
            display: inline-block;
            font-size: 10px;
            color: $white;
            height: 20px;
            line-height: 20px;
            position: relative;
            border-radius: 0 5px 5px 0;
            margin: 0 5px 5px 10px;
            padding: 0 8px 0 10px;

            &:before {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                top: 0;
                left: -20px;
                border: 10px solid transparent;
                border-right-color: #cfb7c4;
            }
            &:after {
                content: " ";
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #fff;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                top: 8px;
                left: 0;
            }
            &:hover {
                opacity: .7;
            }
        }

        .color0 { background-color: $rainbowColor0;&:before { border-right-color: $rainbowColor0;} }
        .color1 { background-color: $rainbowColor1;&:before { border-right-color: $rainbowColor1;} }
        .color2 { background-color: $rainbowColor2;&:before { border-right-color: $rainbowColor2;} }
        .color3 { background-color: $rainbowColor3;&:before { border-right-color: $rainbowColor3;} }
        .color4 { background-color: $rainbowColor4;&:before { border-right-color: $rainbowColor4;} }
        .color5 { background-color: $rainbowColor5;&:before { border-right-color: $rainbowColor5;} }
        .color6 { background-color: $rainbowColor6;&:before { border-right-color: $rainbowColor6;} }
    }

    .licence {
        text-align: right;
        color: $gray;
        margin: 15px 0;

        a {
            color: $darkGray;
        }
    }
}

.subline {
    color: $gray;
}
.category {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    width: 100px;
    text-align: center;

    @include pc {
        &:hover {
            & > a i {
                margin-right: -2px;

                &:before {
                    content: "\f115";
                }
            }

            .options {
                pointer-events: auto;

                ul {
                    &:before {
                        @include transform(scale3d(1,1,1));
                        @include transition(none);
                        @include animation(expand 0.6s ease-out);
                    }
                    @include keyframes(expand) {
                        0% { #{$browser}transform: scale3d(1,0,1); }
                        25% { #{$browser}transform: scale3d(1,1.2,1); }
                        50% { #{$browser}transform: scale3d(1,0.85,1); }
                        75% { #{$browser}transform: scale3d(1,1.05,1) }
                        100% { #{$browser}transform: scale3d(1,1,1); }
                    }

                    li {
                        @include transform(translate3d(0,0,0));
                        opacity: 1;
                        @include transition(none);
                        @include animation(bounce 0.6s ease-out);
                    }
                    @include keyframes(bounce) {
                        0% { #{$browser}transform: translate3d(0,-25px,0);opacity: 0; }
                        25% { #{$browser}transform: translate3d(0,10px,0); }
                        50% { #{$browser}transform: translate3d(0,-6px,0); }
                        75% { #{$browser}transform: translate3d(0,2px,0); }
                        100% { #{$browser}transform: translate3d(0,0,0);opacity: 1; }
                    }
                }
            }
        }
    }

    .options {
        left: 0;
        position: absolute;
        width: 100%;
        background: transparent;
        opacity: 1;
        pointer-events: none;
        z-index: 2;

        ul {
            margin: 0;
            padding: 0;
            list-style: none;

            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                @include transform(scale3d(1,0,1));
                background: $white;
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                border: 1px solid $lightGray;
                border-radius: 5px;
            }

            li {
                opacity: 0;
                @include transform(translate3d(0,-25px,0));
                -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
                transition: opacity 0.15s, transform 0.15s;

                a {
                    display: block;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
    }
}
