#main {
    position: fixed;
    left: 30%;
    top: 0;
    bottom: 0;
    right: 0;
    width: 70%;
    overflow-x: hidden;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
    @include transition(all .8s cubic-bezier(.19,1,.5,1));
    will-change: opacity,transform;

    @include mobile {
        left: 0!important;
        top: 60px;
        width: 100%;
    }
}
.posts {
    margin: 0 20px;
    padding: 15px 0 0;

    .item {
        padding-bottom: 30px;
        border-bottom: 1px solid $lightGray;

        &:last-child {
            padding-bottom: 30px;
            border-bottom: none;
        }

        h1 {
            margin-bottom: 0;

            @include pc {
                a {
                    -webkit-transition: margin .5s ease;
                    transition: margin .5s ease;

                    &:hover {
                        margin-left: 20px;
                    }
                }
            }
        }

        .img-pvw {
            margin: 15px 0;

            img {
                display: block;
                max-height: 200px;
            }
        }
    }
}
.pagination {
    overflow: hidden;
    padding: 0 40px 30px 40px;

    &:hover {
        a {
            opacity: 1;

            &.prev {
                border-color: $gray;
            }
        }
    }

    a {
        display: block;
        height: 50px;
        line-height: 48px;
        width: 150px;
        text-align: center;
        color: $white;
        opacity: .3;
        font-size: 2rem;
        border-width: 1px;
        border-style: solid;
        @include transition(all .3s cubic-bezier(.19,1,.5,1));

        i {
            vertical-align: middle;
        }
    }

    .prev {
        float: left;
        padding-right: 8px;
        background-color: $white;
        color: $gray;
        border-color: $gray;

        &:hover {
            background-color: $lightGray;
        }

        i {
            margin-right: 10px;
        }
    }
    .next {
        float: right;
        padding-left: 8px;
        border-color: $blue;
        background-color: $blue;

        &:hover {
            background-color: $darkBlue;
            border-color: $darkBlue;
        }

        i {
            margin-left: 10px;
        }
    }
}

article.post {
    margin: 0 20px;
    padding: 15px 0;
    position: relative;

    h1 {
        margin-bottom: 0;
    }

    .tags {
        i {
            vertical-align: middle;
        }

        a {
            display: inline-block;
            font-size: 10px;
            color: $white;
            height: 20px;
            line-height: 20px;
            position: relative;
            border-radius: 0 5px 5px 0;
            margin-left: 10px;
            padding: 0 8px 0 10px;

            &:before {
                content: " ";
                position: absolute;
                width: 0;
                height: 0;
                top: 0;
                left: -20px;
                border: 10px solid transparent;
                border-right-color: #cfb7c4;
            }
            &:after {
                content: " ";
                position: absolute;
                width: 4px;
                height: 4px;
                background-color: #fff;
                -webkit-border-radius: 4px;
                border-radius: 4px;
                -webkit-box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                box-shadow: 0 0 0 1px rgba(0,0,0,.3);
                top: 8px;
                left: 0;
            }
            &:hover {
                opacity: .7;
            }
        }

        .color0 { background-color: $rainbowColor0;&:before { border-right-color: $rainbowColor0;} }
        .color1 { background-color: $rainbowColor1;&:before { border-right-color: $rainbowColor1;} }
        .color2 { background-color: $rainbowColor2;&:before { border-right-color: $rainbowColor2;} }
        .color3 { background-color: $rainbowColor3;&:before { border-right-color: $rainbowColor3;} }
        .color4 { background-color: $rainbowColor4;&:before { border-right-color: $rainbowColor4;} }
        .color5 { background-color: $rainbowColor5;&:before { border-right-color: $rainbowColor5;} }
        .color6 { background-color: $rainbowColor6;&:before { border-right-color: $rainbowColor6;} }
    }

    .comments {
        margin-top: 10px;
    }
}

.subline {
    color: $gray;
    font-family: $number;
}
.category {
    display: inline-block;
    position: relative;
    padding: 0 20px;
    width: 100px;
    text-align: center;

    &:hover {
        & > a i {
            margin-right: -2px;

            &:before {
                content: "\f115";
            }
        }

        .options {
            pointer-events: auto;

            ul {
                &:before {
                    @include transform(scale3d(1,1,1));
                    @include transition(none);
                    @include animation(expand 0.6s ease-out);
                }
                @include keyframes(expand) {
                    0% { #{$browser}transform: scale3d(1,0,1); }
                    25% { #{$browser}transform: scale3d(1,1.2,1); }
                    50% { #{$browser}transform: scale3d(1,0.85,1); }
                    75% { #{$browser}transform: scale3d(1,1.05,1) }
                    100% { #{$browser}transform: scale3d(1,1,1); }
                }

                li {
                    @include transform(translate3d(0,0,0));
                    opacity: 1;
                    @include transition(none);
                    @include animation(bounce 0.6s ease-out);
                }
                @include keyframes(bounce) {
                    0% { #{$browser}transform: translate3d(0,-25px,0);opacity: 0; }
                    25% { #{$browser}transform: translate3d(0,10px,0); }
                    50% { #{$browser}transform: translate3d(0,-6px,0); }
                    75% { #{$browser}transform: translate3d(0,2px,0); }
                    100% { #{$browser}transform: translate3d(0,0,0);opacity: 1; }
                }
            }
        }
    }

    .options {
        left: 0;
        position: absolute;
        width: 100%;
        background: transparent;
        opacity: 1;
        pointer-events: none;
        z-index: 2;

        ul {
            &:before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                left: 0;
                top: 0;
                @include transform(scale3d(1,0,1));
                background: $white;
                -webkit-transform-origin: 50% 0%;
                transform-origin: 50% 0%;
                -webkit-transition: -webkit-transform 0.3s;
                transition: transform 0.3s;
                border: 1px solid $lightGray;
                border-radius: 5px;
            }

            li {
                opacity: 0;
                @include transform(translate3d(0,-25px,0));
                -webkit-transition: opacity 0.15s, -webkit-transform 0.15s;
                transition: opacity 0.15s, transform 0.15s;

                a {
                    display: block;
                    text-align: center;
                    line-height: 30px;
                }
            }
        }
    }
}
