#top {
    height: 650px;
    background-image: url(/assets/images/banner.jpg);
    background-size: cover;
    background-position: center;

    @include mobile {
        height: 300px;
    }
}
